<h1>Lista de Exames</h1>

<ul>
  <% @exames.each do |exame| %>
    <%= link_to exame.description, exame_path(exame) %>
  <% end %>
</ul>

<% if current_user.doctor? %>
  <%= link_to 'Cadastrar Novo Exame', new_exame_path, class: 'btn btn-primary' %>


<% end %>
<%= link_to "Sign out", destroy_user_session_path, method: :delete %>

<button class="btn btn-primary">Clique aqui</button>